* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;
    background-color: rgb(18, 18, 18);
    color: rgb(136, 136, 136);
}

.header {
    background: rgb(18, 18, 18);
    height: 12vh;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgb(0, 0, 0);
}

.Cover, .creations-cover, .about-cover, .intro, .exhibit, .showcase-header {
    background-color: rgb(18, 18, 18);
}

.image-background {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(209, 33, 33, 0) 80%, rgb(18, 18, 18) 100%), url("pexels-thach-tran-756856.jpg");
    background-position: center;
    background-size: cover;
    transition: 0.7s;
}

.image-background:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
    padding: 2.5% 4%;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
}

.nav img {
    height: 150px;
}

.resume:hover {
    text-decoration: underline;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: 0.7s;
}

.nav-links ul li:hover {
    text-decoration: underline;
}

.nav a, .resume a {
    text-decoration: none;
    color: rgb(136, 136, 136);
    text-transform: uppercase;
}

.symbol {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.intro {
    min-height: 100vh;
    text-align: center;
    padding: 5% 10%;
}

.text-header {
    font-size: xx-large;
    margin-bottom: 5%;
}

.text {
    background: rgb(14, 15, 77);
    width: 65%;
    margin: 0 auto 5%;
    padding: 1.5% 10% 0.5% 1%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgb(0, 0, 0);
}

.portrait {
    margin: 0 auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgb(0, 0, 0);
}

.showcase-header {
    font-size: xx-large;
    margin-bottom: 2%;
    text-align: center;
}

.exhibit {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgb(0, 0, 0);
    padding: 2vh 3vh;
}

.exhibit img {
    margin: 1vh;
    transition: 0.4s;
}

.exhibit img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }

    .symbol {
        padding-left: 0;
    }

    .text {
        width: 90%;
    }

    .portrait {
        width: 90%;
        height: auto;
    }

    .showcase-header {
        padding-left: 0;
    }

    .exhibit {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .exhibit img {
        width: 100%;
        height: auto;
    }
}
